<div class="row">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="col s12">
    <div class="row">
      <input type="hidden" name="id" formControlName="bookId">
      <div class="input-field col s6">
        <label>
          Titre :
          <input type="text" id="title" formControlName="bookTitle" class="valid">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label>
          Description :
          <input type="text" id="description" formControlName="bookDescription" class="valid">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <Label>
          Date de publication
          <input type="date" name="Date" formControlName="bookPublishDate" class="valid">
        </Label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label>
          Nombre de page :
          <input type="number" id="pages" formControlName="bookPageCount" class="valid">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 row">
        <label>
          Lien de l'image du livre :
          <input type="text" id="image" formControlName="bookImageLink" class="valid">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 row">
        <label>
          Langue :
          <input type="text" id="langue" formControlName="bookLanguage" class="valid">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label>
          Éditeur :
          <mat-form-field class="example-form">
            <input type="text" matInput [formControl]="publisherName" [matAutocomplete]="autoP">
            <mat-autocomplete #autoP="matAutocomplete" [displayWith]="displayFnPublisher" (optionSelected)="onPublisherSelected($event)">
              <mat-option *ngFor="let option of filteredPublisherOptions | async; trackBy: trackByFnPublisher" [value]="option">
                {{ option.publisherName }} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label>
          Auteur :
          <mat-form-field class="example-form">
            <input type="text" matInput [formControl]="authorName" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnAuthor" (optionSelected)="onAuthorSelected($event)">
              <mat-option *ngFor="let option of filteredAuthorOptions | async; trackBy: trackByFnAuthor" [value]="option">
                {{ option.authorName }} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </label>
      </div>
    </div>
    <div class="input-field col s6 row">
      <button type="submit" [disabled]="!bookForm.valid">Submit</button>
    </div>
  </form>
</div>