.dialog-container {
  padding: 20px;
}

mat-dialog-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

mat-dialog-content {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button[mat-button] {
  margin: 0 5px;
}

button.cancel-button {
  color: #f44336; /* Red color for cancel button */
}

button[mat-raised-button] {
  color: #fff;
}
