<section>
  <div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="col s12">
      <p *ngIf="isUser">Modifications d'informations personnels</p>
      <p *ngIf="!isUser">Informations personnels</p>
      <div class="row">
        <div class="col s6">
          <label>
            Prénom :
            <br>
            <span *ngIf="userForm.get('userFirstname')?.invalid && (userForm.get('userFirstname')?.dirty || userForm.get('userFirstname')?.touched)">
              <span *ngIf="userForm.get('userFirstname')?.hasError('required')" class="error-message">Ce champs est requis </span>
            </span>
          </label>
          <input #firstInput type="text" id="firsName" formControlName="userFirstname" class="valid">
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>
            Nom :
            <br>
            <span *ngIf="userForm.get('userLastname')?.invalid && (userForm.get('userLastname')?.dirty || userForm.get('userLastname')?.touched)">
              <span *ngIf="userForm.get('userLastname')?.hasError('required')" class="error-message">Ce champs est requis </span>
            </span>
          </label>
          <input type="text" id="lastName" formControlName="userLastname" class="valid">
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>
            Login :
            <br>
            <span>Ne doit pas contenir de &#64;</span>
            <br>
            <span *ngIf="userForm.get('userLogin')?.invalid && (userForm.get('userLogin')?.dirty || userForm.get('userLogin')?.touched)">
              <span *ngIf="userForm.get('userLogin')?.hasError('required')" class="error-message">Ce champs est requis </span>
              <br>
              <span *ngIf="userForm.get('userLogin')?.hasError('invalidLogin')" class="error-message"> Login invalide</span>
            </span>
          </label>
          <input type="text" id="login" formControlName="userLogin" class="valid">
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>
            E-mail :
            <br>
            <span *ngIf="userForm.get('userEmail')?.invalid && (userForm.get('userEmail')?.dirty || userForm.get('userEmail')?.touched)">
              <span *ngIf="userForm.get('userEmail')?.hasError('required')" class="error-message">Ce champs est requis </span>
              <br>
              <span *ngIf="userForm.get('userEmail')?.hasError('invalidEmail')" class="error-message"> E-mail invalide</span>
            </span>
          </label>
          <input type="text" id="email" formControlName="userEmail" class="valid">
        </div>
      </div>
      <div *ngIf="right && !sa" class="row">
        <div class="col s6">
          <label>
            <select name="right" id="right" formControlName="userRight">
              <option value="Admin">Admin</option>
              <option value="User">User</option>
            </select>
          </label>
        </div>
      </div>
        <div *ngIf="!isUser" class="row" [formGroup]="passwordForm">
          <div class="col s6">
            <label>
              Nouveau mot de passe :
              <span class="criteria">
                <span class="criterion" [class.invalid]="passwordForm.get('newPassword')?.errors?.['minLength']">
                  <span class="valid-mark" *ngIf="isCriterionValid('minLength')">✓</span>
                  Au moins 8 caractères
                </span>
                <span class="criterion" [class.invalid]="passwordForm.get('newPassword')?.errors?.['missingUppercase']">
                  <span class="valid-mark" *ngIf="isCriterionValid('missingUppercase')">✓</span>
                  Majuscule
                </span>
                <span class="criterion" [class.invalid]="passwordForm.get('newPassword')?.errors?.['missingLowercase']">
                  <span class="valid-mark" *ngIf="isCriterionValid('missingLowercase')">✓</span>
                  Minuscule
                </span>
                <span class="criterion" [class.invalid]="passwordForm.get('newPassword')?.errors?.['missingNumber']">
                  <span class="valid-mark" *ngIf="isCriterionValid('missingNumber')">✓</span>
                  Nombre
                </span>
                <span class="criterion" [class.invalid]="passwordForm.get('newPassword')?.errors?.['missingSpecialChar']">
                  <span class="valid-mark" *ngIf="isCriterionValid('missingSpecialChar')">✓</span>
                  Caractère spécial
                </span>
              </span>
            </label>
            <input type="password" formControlName="newPassword" class="valid">
          </div>
        </div>
        
        <div *ngIf="!isUser" class="row" [formGroup]="passwordForm">
          <div class="col s6">
            <label>
              Confirmation mot de passe :
              <br>
              <span *ngIf="passwordForm.get('confirmNewPassword')?.invalid && (passwordForm.get('confirmNewPassword')?.dirty || passwordForm.get('confirmNewPassword')?.touched)">
                <span *ngIf="passwordForm.get('confirmNewPassword')?.hasError('required')" class="error-message">Ce champs est requis </span>
                <br>
                <span *ngIf="passwordForm.get('confirmNewPassword')?.hasError('invalidMatched')" class="error-message">
                  Le mot de passe ne correspond pas.
                </span>
              </span>
            </label>
            <input type="password" formControlName="confirmNewPassword" class="valid">
          </div>
        </div>
        <div class="col s6 row">
          <button *ngIf="isUser" type="submit" [disabled]="!userForm.valid">Submit</button>
          <button *ngIf="!isUser" type="submit" [disabled]="!userForm.valid || (!passwordForm.valid && !isUser)">Submit</button>
        </div>
    </form>
  </div>

  <div *ngIf="canChangePassword">
    <form [formGroup]="passwordForm" (ngSubmit)="passwordSubmit()" class="col s12">
        <p>Modification du mot de passe</p>
        <div class="row">
          <div class="col s6">
            <label>
              Nouveau mot de passe :
              <span class="criteria">
                <span class="criterion" [class.invalid]="passwordForm.get('newPassword')?.errors?.['minLength']">
                  <span class="valid-mark" *ngIf="isCriterionValid('minLength')">✓</span>
                  Au moins 8 caractères
                </span>
                <span class="criterion" [class.invalid]="passwordForm.get('newPassword')?.errors?.['missingUppercase']">
                  <span class="valid-mark" *ngIf="isCriterionValid('missingUppercase')">✓</span>
                  Majuscule
                </span>
                <span class="criterion" [class.invalid]="passwordForm.get('newPassword')?.errors?.['missingLowercase']">
                  <span class="valid-mark" *ngIf="isCriterionValid('missingLowercase')">✓</span>
                  Minuscule
                </span>
                <span class="criterion" [class.invalid]="passwordForm.get('newPassword')?.errors?.['missingNumber']">
                  <span class="valid-mark" *ngIf="isCriterionValid('missingNumber')">✓</span>
                  Nombre
                </span>
                <span class="criterion" [class.invalid]="passwordForm.get('newPassword')?.errors?.['missingSpecialChar']">
                  <span class="valid-mark" *ngIf="isCriterionValid('missingSpecialChar')">✓</span>
                  Caractère spécial
                </span>
              </span>
            </label>
            <input type="password" formControlName="newPassword" class="valid">
          </div>
        </div>
        
        <div class="row">
          <div class="col s6">
            <label>
              Confirmation mot de passe :
              <br>
              <span *ngIf="passwordForm.get('confirmNewPassword')?.invalid && (passwordForm.get('confirmNewPassword')?.dirty || passwordForm.get('confirmNewPassword')?.touched)">
              <span *ngIf="passwordForm.get('confirmNewPassword')?.hasError('required')" class="error-message">Ce champs est requis </span>
              <br>
                <span *ngIf="passwordForm.get('confirmNewPassword')?.hasError('invalidMatched')" class="error-message">
                  Le mot de passe ne correspond pas.
                </span>
              </span>
            </label>
            <input type="password" formControlName="confirmNewPassword" class="valid">
          </div>
        </div>
        <span *ngIf="badRequest" class="row error-message">Le mot de passe ne peut pas être le même que le précédent</span> <br>
        <div class="col s6 row">
          <button type="submit" [disabled]="!passwordForm.valid || passwordForm.value.newPassword !== passwordForm.value.confirmNewPassword">Submit</button>
        </div>
    </form>
  </div>
</section>