{
  "presets": ["next/babel"],
  "plugins": [
    "babel-plugin-macros",
    ["transform-imports", {
      "@mui/icons-material": {
        "transform": "@mui/icons-material/${member}",
        "preventFullImport": true
      }
    }]
  ]
}