{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "plugins": [
    ["babel-plugin-styled-components", { "ssr": true }],
    "babel-plugin-macros",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@features": "./src/features",
          "@api": "./src/api",
          "@hooks": "./src/hooks",
          "@redux": "./src/redux",
          "@styles": "./src/styles",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
