* {
  color: white;
}

form > div:not(:first-child) {
  margin-top: 5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  height: fit-content;
  overflow-y: auto;
}

textarea,
input {
  min-width: 30vw;
  max-width: 30vw;
}

.example-form {
  min-width: 30vw;
  max-width: 30vw;
}

.mat-horizontal-stepper-header-container {
  justify-content: space-between;
}

.mat-step-header {
  flex: 1;
}

.autocomplete-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
}

.autocomplete-options li {
  padding: 8px 16px;
  cursor: pointer;
}

.autocomplete-options li:hover {
  background-color: #f0f0f0;
}

.mat-form-field {
  width: 100%;
}

.example-form {
  font-size: 14px;
}


.step2 input[type="text"] {
  border: none !important;
}

.step2 input[type="text"]:focus {
  border: none !important;
  box-shadow: none !important;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.step2 {
  margin-bottom: 6.74em;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.s6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.button-back,
.button-next,
.button-next-first {
  display: flex;
  bottom: 45%;
  position: fixed;
  z-index: 1 !important;
}

.button-back {
  left: 2em;
}

.button-next,
.button-next-first {
  right: 2em;
}

.button-next-first {
  /* bottom: 45% !important; */
}