@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
/* Define light and dark theme variables */
:root {
  --primary: #1DA1F2;
  --secondary: #14171A;
  --accent: #657786;
  --background: #E1E8ED;
  --border: #AAB8C2;
  --hover: #E1E8ED;
}

.theme-dark {
  --primary: #ffffff;
  --secondary: #1a1a1a;
  --accent: #4a4a4a;
  --background: #2e2e2e;
  --border: #3a3a3a;
  --hover: #4a4a4a;
}
/* Apply the CSS variables to Tailwind classes */
body {
  background-color: var(--background);
  color: var(--primary);
}