USE [BookDB]
GO
/****** Object:  Database [BookDB]    Script Date: 10/07/2026 10:59:10 ******/
-- Create the database (let SQL Server handle file placement)
IF DB_ID('BookDB') IS NULL
BEGIN
    CREATE DATABASE [BookDB];
END
GO
-- Optional: set some properties
ALTER DATABASE [BookDB] SET COMPATIBILITY_LEVEL = 150;
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [BookDB].[dbo].[sp_fulltext_database] @action = 'enable';
END
GO
USE [BookDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVITY_TYPES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVITY_TYPES](
	[activity_type_id] [int] IDENTITY(1,1) NOT NULL,
	[activity_type_uuid] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NOT NULL,
	[label] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDIT_TRAIL]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDIT_TRAIL](
	[audit_id] [int] IDENTITY(1,1) NOT NULL,
	[audit_uuid] [uniqueidentifier] NOT NULL,
	[entity_tablename] [varchar](100) NOT NULL,
	[entity_uuid] [uniqueidentifier] NOT NULL,
	[action_type] [varchar](20) NOT NULL,
	[action_date] [datetimeoffset](7) NOT NULL,
	[action_user_uuid] [uniqueidentifier] NOT NULL,
	[previous_data] [nvarchar](max) NULL,
	[new_data] [nvarchar](max) NULL,
	[source] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[author_id] [int] IDENTITY(1,1) NOT NULL,
	[author_uuid] [uniqueidentifier] NOT NULL,
	[author_full_name] [varchar](100) NOT NULL,
	[author_birth_date] [date] NULL,
	[author_birth_place] [varchar](100) NULL,
	[author_death_date] [date] NULL,
	[author_death_place] [varchar](100) NULL,
	[author_bio] [text] NULL,
	[is_deleted] [bit] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR_DISTINCTIONS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR_DISTINCTIONS](
	[distinction_id] [int] IDENTITY(1,1) NOT NULL,
	[author_uuid] [uniqueidentifier] NOT NULL,
	[distinction_label] [varchar](255) NOT NULL,
	[distinction_date] [datetimeoffset](7) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[distinction_uuid] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[distinction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR_LANGUAGES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR_LANGUAGES](
	[author_uuid] [uniqueidentifier] NOT NULL,
	[language_uuid] [uniqueidentifier] NOT NULL,
	[is_primary_language] [bit] NOT NULL,
	[added_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[author_uuid] ASC,
	[language_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR_TRANSLATIONS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR_TRANSLATIONS](
	[author_translation_id] [int] IDENTITY(1,1) NOT NULL,
	[author_translation_uuid] [uniqueidentifier] NOT NULL,
	[author_uuid] [uniqueidentifier] NOT NULL,
	[language_uuid] [uniqueidentifier] NOT NULL,
	[author_bio] [text] NULL,
	[created_at] [datetimeoffset](7) NULL,
	[updated_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[author_translation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANNED_WORDS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANNED_WORDS](
	[banned_word_id] [int] IDENTITY(1,1) NOT NULL,
	[word] [varchar](100) NOT NULL,
	[language_uuid] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[is_deleted] [bit] NOT NULL,
	[banned_word_uuid] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[banned_word_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[book_title] [varchar](200) NOT NULL,
	[book_subtitle] [varchar](200) NULL,
	[book_description] [text] NULL,
	[book_pageCount] [int] NULL,
	[book_publishDate] [date] NULL,
	[book_isbn] [varchar](20) NULL,
	[book_price] [decimal](10, 2) NULL,
	[book_series_uuid] [uniqueidentifier] NULL,
	[is_deleted] [bit] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_AUTHORS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_AUTHORS](
	[book_uuid] [uniqueidentifier] NOT NULL,
	[author_uuid] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_uuid] ASC,
	[author_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_CATEGORIES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_CATEGORIES](
	[book_uuid] [uniqueidentifier] NOT NULL,
	[category_uuid] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_uuid] ASC,
	[category_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_IMAGE_TYPE]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_IMAGE_TYPE](
	[image_type_id] [int] IDENTITY(1,1) NOT NULL,
	[image_type_uuid] [uniqueidentifier] NOT NULL,
	[label] [varchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_IMAGES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_IMAGES](
	[imageID] [int] IDENTITY(1,1) NOT NULL,
	[image_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[image_url] [text] NULL,
	[image_alt] [varchar](255) NULL,
	[is_cover] [bit] NULL,
	[image_order] [int] NULL,
	[image_type_uuid] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[imageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_LANGUAGES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_LANGUAGES](
	[book_uuid] [uniqueidentifier] NOT NULL,
	[language_uuid] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_uuid] ASC,
	[language_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_NOTES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_NOTES](
	[note_id] [int] IDENTITY(1,1) NOT NULL,
	[note_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[note_value] [decimal](3, 2) NULL,
	[note_comment] [text] NULL,
	[note_date] [datetimeoffset](7) NOT NULL,
	[is_moderated] [bit] NULL,
	[is_deleted] [bit] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_PUBLISHERS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_PUBLISHERS](
	[book_uuid] [uniqueidentifier] NOT NULL,
	[publisher_uuid] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_uuid] ASC,
	[publisher_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_SERIES_ORDER]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_SERIES_ORDER](
	[series_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[series_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[series_uuid] ASC,
	[book_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_TAGS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_TAGS](
	[book_uuid] [uniqueidentifier] NOT NULL,
	[tag_uuid] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_uuid] ASC,
	[tag_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_TRANSLATIONS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_TRANSLATIONS](
	[book_translation_id] [int] IDENTITY(1,1) NOT NULL,
	[book_translation_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[language_uuid] [uniqueidentifier] NULL,
	[book_title] [varchar](255) NULL,
	[book_description] [text] NULL,
	[created_at] [datetimeoffset](7) NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[book_subtitle] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[book_translation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_VERSION_HISTORY]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_VERSION_HISTORY](
	[version_id] [int] IDENTITY(1,1) NOT NULL,
	[version_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NULL,
	[change_date] [datetimeoffset](7) NOT NULL,
	[version_description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_uuid] [uniqueidentifier] NOT NULL,
	[category_name] [varchar](100) NOT NULL,
	[category_description] [text] NULL,
	[image_url] [varchar](500) NOT NULL,
	[image_alt] [varchar](255) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY_TRANSLATIONS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY_TRANSLATIONS](
	[category_translation_id] [int] IDENTITY(1,1) NOT NULL,
	[category_translation_uuid] [uniqueidentifier] NOT NULL,
	[category_uuid] [uniqueidentifier] NOT NULL,
	[language_uuid] [uniqueidentifier] NOT NULL,
	[translated_name] [nvarchar](100) NULL,
	[translated_description] [text] NULL,
	[created_at] [datetimeoffset](7) NULL,
	[updated_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_translation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLORS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLORS](
	[color_id] [int] IDENTITY(1,1) NOT NULL,
	[color_uuid] [uniqueidentifier] NOT NULL,
	[color_name] [varchar](50) NOT NULL,
	[color_hex] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENDERS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENDERS](
	[gender_id] [int] IDENTITY(1,1) NOT NULL,
	[gender_uuid] [uniqueidentifier] NOT NULL,
	[gender_label] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANGUAGES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGES](
	[language_id] [int] IDENTITY(1,1) NOT NULL,
	[language_uuid] [uniqueidentifier] NOT NULL,
	[language_name] [varchar](100) NOT NULL,
	[iso_code] [varchar](10) NULL,
	[is_default] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[language_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODERATION_LOGS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODERATION_LOGS](
	[moderation_id] [int] IDENTITY(1,1) NOT NULL,
	[moderation_uuid] [uniqueidentifier] NOT NULL,
	[target_type] [varchar](50) NOT NULL,
	[target_uuid] [uniqueidentifier] NOT NULL,
	[trigger_reason] [varchar](255) NULL,
	[moderation_type] [varchar](50) NOT NULL,
	[moderation_level] [varchar](50) NOT NULL,
	[action] [varchar](255) NULL,
	[moderation_status] [varchar](20) NOT NULL,
	[moderation_comment] [text] NULL,
	[detected_by] [varchar](50) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[resolved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[moderation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATIONS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATIONS](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[notification_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[notification_title] [varchar](100) NULL,
	[notification_message] [text] NULL,
	[is_read] [bit] NULL,
	[notification_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_HISTORY]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_HISTORY](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[order_date] [datetimeoffset](7) NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ITEMS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEMS](
	[order_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_uuid] ASC,
	[book_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCES](
	[preference_id] [int] IDENTITY(1,1) NOT NULL,
	[preference_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[language_uuid] [uniqueidentifier] NULL,
	[theme_uuid] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[primary_color_uuid] [uniqueidentifier] NOT NULL,
	[secondary_color_uuid] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLISHER]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISHER](
	[publisher_id] [int] IDENTITY(1,1) NOT NULL,
	[publisher_uuid] [uniqueidentifier] NOT NULL,
	[publisher_name] [varchar](255) NOT NULL,
	[image_url] [varchar](500) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[publisher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLISHER_TRANSLATIONS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISHER_TRANSLATIONS](
	[publisher_translation_id] [int] IDENTITY(1,1) NOT NULL,
	[publisher_translation_uuid] [uniqueidentifier] NOT NULL,
	[publisher_uuid] [uniqueidentifier] NOT NULL,
	[language_uuid] [uniqueidentifier] NOT NULL,
	[translated_name] [nvarchar](255) NULL,
	[created_at] [datetimeoffset](7) NULL,
	[updated_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[publisher_translation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[READ_LIST_BOOKS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[READ_LIST_BOOKS](
	[readList_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[readList_uuid] ASC,
	[book_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[READ_LISTS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[READ_LISTS](
	[readList_id] [int] IDENTITY(1,1) NOT NULL,
	[readList_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[read_list_name] [varchar](100) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[readList_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERIES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERIES](
	[series_id] [int] IDENTITY(1,1) NOT NULL,
	[series_uuid] [uniqueidentifier] NOT NULL,
	[series_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[series_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPPING_BASKET_ITEMS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPPING_BASKET_ITEMS](
	[basket_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[basket_uuid] ASC,
	[book_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPPING_BASKETS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPPING_BASKETS](
	[basket_id] [int] IDENTITY(1,1) NOT NULL,
	[basket_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[basket_date_created] [datetimeoffset](7) NOT NULL,
	[is_finalized] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[basket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATE_STATUS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATE_STATUS](
	[state_status_id] [int] IDENTITY(1,1) NOT NULL,
	[state_status_uuid] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NOT NULL,
	[label] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[state_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAGS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAGS](
	[tag_id] [int] IDENTITY(1,1) NOT NULL,
	[tag_uuid] [uniqueidentifier] NOT NULL,
	[tag_label] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THEMES]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEMES](
	[theme_id] [int] IDENTITY(1,1) NOT NULL,
	[theme_uuid] [uniqueidentifier] NOT NULL,
	[theme_name] [varchar](30) NULL,
	[is_default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[theme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_BOOK_ACTIVITY]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_BOOK_ACTIVITY](
	[activity_id] [int] IDENTITY(1,1) NOT NULL,
	[activity_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[activity_type_uuid] [uniqueidentifier] NULL,
	[activity_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_BOOK_STATE]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_BOOK_STATE](
	[user_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[state_status_uuid] [uniqueidentifier] NULL,
	[state_progress] [decimal](5, 2) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_USER_BOOK_STATE] PRIMARY KEY CLUSTERED 
(
	[user_uuid] ASC,
	[book_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_CONNECTIONS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_CONNECTIONS](
	[connection_id] [int] IDENTITY(1,1) NOT NULL,
	[connection_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[connection_date] [datetimeoffset](7) NOT NULL,
	[connection_ip] [varchar](45) NULL,
	[connection_device] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[connection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_EMAILS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_EMAILS](
	[email_id] [int] IDENTITY(1,1) NOT NULL,
	[email_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[email_address] [nvarchar](100) NOT NULL,
	[is_primary] [bit] NOT NULL,
	[is_validated] [bit] NOT NULL,
	[validation_token] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[validated_at] [datetimeoffset](7) NULL,
	[new_email_address] [nvarchar](100) NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[last_validation_email_sent_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PASSWORDS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PASSWORDS](
	[password_id] [int] IDENTITY(1,1) NOT NULL,
	[password_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[hashed_password] [nvarchar](200) NOT NULL,
	[must_change] [bit] NOT NULL,
	[last_changed_at] [datetimeoffset](7) NOT NULL,
	[last_password_reset_request_at] [datetimeoffset](7) NULL,
	[reset_token] [nvarchar](max) NULL,
	[reset_expires_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[password_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_RIGHTS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_RIGHTS](
	[user_right_id] [int] IDENTITY(1,1) NOT NULL,
	[user_right_uuid] [uniqueidentifier] NOT NULL,
	[user_right_name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_right_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLE_HISTORY]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE_HISTORY](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[history_uuid] [uniqueidentifier] NOT NULL,
	[target_user_uuid] [uniqueidentifier] NOT NULL,
	[modified_by_uuid] [uniqueidentifier] NOT NULL,
	[previous_right_uuid] [uniqueidentifier] NOT NULL,
	[new_right_uuid] [uniqueidentifier] NOT NULL,
	[change_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[user_firstname] [varchar](50) NOT NULL,
	[user_lastname] [varchar](50) NOT NULL,
	[user_login] [varchar](30) NOT NULL,
	[user_birthDate] [date] NULL,
	[is_deleted] [bit] NULL,
	[user_right_uuid] [uniqueidentifier] NOT NULL,
	[gender_uuid] [uniqueidentifier] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[last_password_reset_request_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WISHLIST_BOOKS]    Script Date: 10/07/2026 10:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WISHLIST_BOOKS](
	[wishlist_id] [int] IDENTITY(1,1) NOT NULL,
	[wishlist_uuid] [uniqueidentifier] NOT NULL,
	[user_uuid] [uniqueidentifier] NOT NULL,
	[book_uuid] [uniqueidentifier] NOT NULL,
	[wishlist_date_add] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[wishlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUTHOR] ON 
GO
INSERT [dbo].[AUTHOR] ([author_id], [author_uuid], [author_full_name], [author_birth_date], [author_birth_place], [author_death_date], [author_death_place], [author_bio], [is_deleted], [created_at], [updated_at]) VALUES (2, N'c0fd7b34-6bb2-485f-88da-2d93a5319e68', N'A.G', NULL, NULL, NULL, NULL, NULL, 0, CAST(N'2025-05-15T14:50:31.5947992+02:00' AS DateTimeOffset), CAST(N'2025-05-15T14:50:31.5947992+02:00' AS DateTimeOffset))
GO
INSERT [dbo].[AUTHOR] ([author_id], [author_uuid], [author_full_name], [author_birth_date], [author_birth_place], [author_death_date], [author_death_place], [author_bio], [is_deleted], [created_at], [updated_at]) VALUES (3, N'940edf57-6655-4182-a6e7-45d97562597f', N'Test', NULL, NULL, NULL, NULL, NULL, 0, CAST(N'2025-05-15T14:50:49.4602480+02:00' AS DateTimeOffset), CAST(N'2025-05-15T14:50:49.4602480+02:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[AUTHOR] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOK] ON 
GO
INSERT [dbo].[BOOK] ([book_id], [book_uuid], [book_title], [book_subtitle], [book_description], [book_pageCount], [book_publishDate], [book_isbn], [book_price], [book_series_uuid], [is_deleted], [created_at], [updated_at]) VALUES (12, N'2fd8e031-6206-4835-bbf2-5d07995f266a', N'ss', NULL, N'efeaf', 45, CAST(N'2024-05-02' AS Date), NULL, CAST(8.00 AS Decimal(10, 2)), NULL, 0, CAST(N'2025-05-15T12:26:16.8764628+02:00' AS DateTimeOffset), CAST(N'2025-05-15T12:26:16.8764628+02:00' AS DateTimeOffset))
GO
INSERT [dbo].[BOOK] ([book_id], [book_uuid], [book_title], [book_subtitle], [book_description], [book_pageCount], [book_publishDate], [book_isbn], [book_price], [book_series_uuid], [is_deleted], [created_at], [updated_at]) VALUES (14, N'651e93bf-7b43-46df-a76d-3136616e0a33', N'test', NULL, N'aefaefeaf', 20, CAST(N'2024-05-03' AS Date), NULL, CAST(0.00 AS Decimal(10, 2)), NULL, 0, CAST(N'2025-05-15T12:28:11.8758769+02:00' AS DateTimeOffset), CAST(N'2025-05-15T12:28:11.8758769+02:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[BOOK] OFF
GO
INSERT [dbo].[BOOK_AUTHORS] ([book_uuid], [author_uuid]) VALUES (N'aeb7edbc-68f3-4b31-9de3-2b27fa836ff6', N'80c1779f-a2d3-454c-89b8-22206cef08f8')
GO
INSERT [dbo].[BOOK_AUTHORS] ([book_uuid], [author_uuid]) VALUES (N'651e93bf-7b43-46df-a76d-3136616e0a33', N'80c1779f-a2d3-454c-89b8-22206cef08f8')
GO
INSERT [dbo].[BOOK_AUTHORS] ([book_uuid], [author_uuid]) VALUES (N'2fd8e031-6206-4835-bbf2-5d07995f266a', N'c0fd7b34-6bb2-485f-88da-2d93a5319e68')
GO
INSERT [dbo].[BOOK_CATEGORIES] ([book_uuid], [category_uuid]) VALUES (N'aeb7edbc-68f3-4b31-9de3-2b27fa836ff6', N'ccf4c85a-fe49-4580-919a-3ff1b100d09c')
GO
INSERT [dbo].[BOOK_CATEGORIES] ([book_uuid], [category_uuid]) VALUES (N'651e93bf-7b43-46df-a76d-3136616e0a33', N'1550c16b-42b6-46ed-ad8d-6ea1a008bc6f')
GO
INSERT [dbo].[BOOK_CATEGORIES] ([book_uuid], [category_uuid]) VALUES (N'2fd8e031-6206-4835-bbf2-5d07995f266a', N'9fc45653-dafd-4ef7-bed2-1a0305ceba3e')
GO
SET IDENTITY_INSERT [dbo].[BOOK_IMAGE_TYPE] ON 
GO
INSERT [dbo].[BOOK_IMAGE_TYPE] ([image_type_id], [image_type_uuid], [label], [description]) VALUES (1, N'566e32b2-970a-4513-871a-860abbeb0366', N'front cover', N'Image of the book''s front cover')
GO
INSERT [dbo].[BOOK_IMAGE_TYPE] ([image_type_id], [image_type_uuid], [label], [description]) VALUES (2, N'54641e99-dccb-48e2-895c-10137b43325c', N'back cover', N'Image of the book''s back cover')
GO
INSERT [dbo].[BOOK_IMAGE_TYPE] ([image_type_id], [image_type_uuid], [label], [description]) VALUES (3, N'214aabee-b95f-433d-a763-d40ef32b6a32', N'inside page', N'Example content or page from inside the book')
GO
SET IDENTITY_INSERT [dbo].[BOOK_IMAGE_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOK_IMAGES] ON 
GO
INSERT [dbo].[BOOK_IMAGES] ([imageID], [image_uuid], [book_uuid], [image_url], [image_alt], [is_cover], [image_order], [image_type_uuid], [created_at], [updated_at]) VALUES (1, N'4f215c24-3915-46a3-aaaa-ccf976da0eed', N'1ba3274c-1762-4dee-a1c9-c02937442db0', N'https://www.babelio.com/couv/CVT_Le-Silmarillion_6780.jpg', N'Le Silmarillion par Tolkien', 1, 0, N'566e32b2-970a-4513-871a-860abbeb0366', CAST(N'2025-05-27T12:41:11.0962397+00:00' AS DateTimeOffset), CAST(N'2025-05-27T12:41:11.0962650+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[BOOK_IMAGES] ([imageID], [image_uuid], [book_uuid], [image_url], [image_alt], [is_cover], [image_order], [image_type_uuid], [created_at], [updated_at]) VALUES (2, N'1c09e556-996d-4c97-844e-26a112bc350d', N'1ba3274c-1762-4dee-a1c9-c02937442db0', N'https://images.epagine.fr/026/9782266121026_4_75.jpg', N'Le Silmarillion 4eme', 1, 1, N'54641e99-dccb-48e2-895c-10137b43325c', CAST(N'2025-05-27T14:15:21.9008887+00:00' AS DateTimeOffset), CAST(N'2025-05-27T14:15:21.9009153+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[BOOK_IMAGES] ([imageID], [image_uuid], [book_uuid], [image_url], [image_alt], [is_cover], [image_order], [image_type_uuid], [created_at], [updated_at]) VALUES (3, N'beac4894-e136-4aaf-bc8c-980eb2678b7f', N'2fd8e031-6206-4835-bbf2-5d07995f266a', N'https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1409595968i/929.jpg', N'Geisha par Arthur Golden', 1, 0, N'566e32b2-970a-4513-871a-860abbeb0366', CAST(N'2025-05-27T15:21:49.5914118+00:00' AS DateTimeOffset), CAST(N'2025-05-27T15:21:49.5914410+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[BOOK_IMAGES] OFF
GO
INSERT [dbo].[BOOK_PUBLISHERS] ([book_uuid], [publisher_uuid]) VALUES (N'aeb7edbc-68f3-4b31-9de3-2b27fa836ff6', N'9ff2f770-7ec5-4af0-acb9-5848d7629b77')
GO
INSERT [dbo].[BOOK_PUBLISHERS] ([book_uuid], [publisher_uuid]) VALUES (N'651e93bf-7b43-46df-a76d-3136616e0a33', N'864df54b-5ddc-41f6-95e1-30dcdbe8e32c')
GO
INSERT [dbo].[BOOK_PUBLISHERS] ([book_uuid], [publisher_uuid]) VALUES (N'2fd8e031-6206-4835-bbf2-5d07995f266a', N'864df54b-5ddc-41f6-95e1-30dcdbe8e32c')
GO
SET IDENTITY_INSERT [dbo].[CATEGORIES] ON 
GO
SET IDENTITY_INSERT [dbo].[CATEGORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[COLORS] ON 
GO
INSERT [dbo].[COLORS] ([color_id], [color_uuid], [color_name], [color_hex]) VALUES (1, N'9e11440d-7607-46aa-ab0e-84464ac05eb2', N'Persian Luxury', N'#900475')
GO
INSERT [dbo].[COLORS] ([color_id], [color_uuid], [color_name], [color_hex]) VALUES (2, N'c51bb9cd-1fdb-4b10-947b-5f2310d4c4a0', N'Phthalo Green', N'#123524')
GO
INSERT [dbo].[COLORS] ([color_id], [color_uuid], [color_name], [color_hex]) VALUES (3, N'67dd6e6a-d995-4093-8a06-aabeab79716f', N'Vodka', N'#BBBEFE')
GO
SET IDENTITY_INSERT [dbo].[COLORS] OFF
GO
SET IDENTITY_INSERT [dbo].[GENDERS] ON 
GO
INSERT [dbo].[GENDERS] ([gender_id], [gender_uuid], [gender_label]) VALUES (1, N'3a7e233e-6046-4998-b115-74c265f6e6e9', N'Homme')
GO
INSERT [dbo].[GENDERS] ([gender_id], [gender_uuid], [gender_label]) VALUES (2, N'b31cf293-2ff3-49a3-b6ae-c0271d6eebcb', N'Femme')
GO
SET IDENTITY_INSERT [dbo].[GENDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[LANGUAGES] ON 
GO
INSERT [dbo].[LANGUAGES] ([language_id], [language_uuid], [language_name], [iso_code], [is_default]) VALUES (1, N'738eff66-3b72-47d2-b218-e1dda476e716', N'French (France)', N'fr-FR', 1)
GO
INSERT [dbo].[LANGUAGES] ([language_id], [language_uuid], [language_name], [iso_code], [is_default]) VALUES (2, N'e10b9859-5830-4519-bd93-b660be2c7c2b', N'English (United Kingdom)', N'en-GB', 1)
GO
INSERT [dbo].[LANGUAGES] ([language_id], [language_uuid], [language_name], [iso_code], [is_default]) VALUES (3, N'24897b28-d5f6-47c9-a406-c73b7073d037', N'Spanish (Spain)', N'es-ES', 0)
GO
SET IDENTITY_INSERT [dbo].[LANGUAGES] OFF
GO
SET IDENTITY_INSERT [dbo].[PREFERENCES] ON 
GO
INSERT [dbo].[PREFERENCES] ([preference_id], [preference_uuid], [user_uuid], [language_uuid], [theme_uuid], [created_at], [updated_at], [primary_color_uuid], [secondary_color_uuid]) VALUES (28, N'af0b873b-a3fc-41a1-a6c0-1394b72de768', N'c8c52f6d-6c88-4da1-ab9d-00354f695d98', N'e10b9859-5830-4519-bd93-b660be2c7c2b', N'c986bb23-986e-47e0-8b42-16f883e7388f', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-07-15T15:36:47.7559488+00:00' AS DateTimeOffset), N'9e11440d-7607-46aa-ab0e-84464ac05eb2', N'67dd6e6a-d995-4093-8a06-aabeab79716f')
GO
INSERT [dbo].[PREFERENCES] ([preference_id], [preference_uuid], [user_uuid], [language_uuid], [theme_uuid], [created_at], [updated_at], [primary_color_uuid], [secondary_color_uuid]) VALUES (51, N'9084b4c3-4bff-40bb-8f4f-c307b5359efc', N'2d295f77-ffb7-4667-93de-6fe4cd9df56a', N'16556af3-253e-4bf4-a1c9-27dd95b9fef6', N'1ef4df06-def1-4603-ba5e-0a02a0b1a733', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-07-01T14:40:14.8038789+00:00' AS DateTimeOffset), N'5ed0cd65-54f3-4316-baa8-137436cd9002', N'4cda0e05-9243-4db2-a46a-125a5319d987')
GO
INSERT [dbo].[PREFERENCES] ([preference_id], [preference_uuid], [user_uuid], [language_uuid], [theme_uuid], [created_at], [updated_at], [primary_color_uuid], [secondary_color_uuid]) VALUES (56, N'462d5f5d-d209-4f65-aca4-0773756cc336', N'f1b48774-2c8b-45ee-ba0d-bd6420455e9e', N'e10b9859-5830-4519-bd93-b660be2c7c2b', N'1ef4df06-def1-4603-ba5e-0a02a0b1a733', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2026-03-25T15:00:17.5462515+00:00' AS DateTimeOffset), N'9e11440d-7607-46aa-ab0e-84464ac05eb2', N'67dd6e6a-d995-4093-8a06-aabeab79716f')
GO
SET IDENTITY_INSERT [dbo].[PREFERENCES] OFF
GO
SET IDENTITY_INSERT [dbo].[PUBLISHER] ON 
GO
INSERT [dbo].[PUBLISHER] ([publisher_id], [publisher_uuid], [publisher_name], [image_url], [created_at], [updated_at]) VALUES (1, N'9ff2f770-7ec5-4af0-acb9-5848d7629b77', N'Christian Bourgois', N'https://www.creativebookpublishing.ca/wp-content/uploads/2018/04/Major-Newfoundland-book-publishing-houses.jpg', CAST(N'2025-05-15T14:57:54.2031419+02:00' AS DateTimeOffset), CAST(N'2025-05-15T14:57:54.2031419+02:00' AS DateTimeOffset))
GO
INSERT [dbo].[PUBLISHER] ([publisher_id], [publisher_uuid], [publisher_name], [image_url], [created_at], [updated_at]) VALUES (2, N'57c2bc5f-88f3-4f34-93d4-f3a75d18e55d', N'HarperCollins', N'https://www.creativebookpublishing.ca/wp-content/uploads/2018/04/Major-Newfoundland-book-publishing-houses.jpg', CAST(N'2025-05-15T14:58:15.5602106+02:00' AS DateTimeOffset), CAST(N'2025-05-15T14:58:15.5602106+02:00' AS DateTimeOffset))
GO
INSERT [dbo].[PUBLISHER] ([publisher_id], [publisher_uuid], [publisher_name], [image_url], [created_at], [updated_at]) VALUES (3, N'ff3ec982-d722-401a-93aa-3fb8c751ffbb', N'Pocket', N'https://www.creativebookpublishing.ca/wp-content/uploads/2018/04/Major-Newfoundland-book-publishing-houses.jpg', CAST(N'2025-05-15T14:58:25.9978172+02:00' AS DateTimeOffset), CAST(N'2025-05-15T14:58:25.9978172+02:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[PUBLISHER] OFF
GO
SET IDENTITY_INSERT [dbo].[THEMES] ON 
GO
INSERT [dbo].[THEMES] ([theme_id], [theme_uuid], [theme_name], [is_default]) VALUES (1, N'1ef4df06-def1-4603-ba5e-0a02a0b1a733', N'Light', 1)
GO
INSERT [dbo].[THEMES] ([theme_id], [theme_uuid], [theme_name], [is_default]) VALUES (2, N'c986bb23-986e-47e0-8b42-16f883e7388f', N'Dark', 1)
GO
INSERT [dbo].[THEMES] ([theme_id], [theme_uuid], [theme_name], [is_default]) VALUES (1002, N'0bfd422f-24bf-493a-92f8-d8e1fae6f7f1', N'System', 0)
GO
SET IDENTITY_INSERT [dbo].[THEMES] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_EMAILS] ON 
GO
INSERT [dbo].[USER_EMAILS] ([email_id], [email_uuid], [user_uuid], [email_address], [is_primary], [is_validated], [validation_token], [created_at], [validated_at], [new_email_address], [updated_at], [last_validation_email_sent_at]) VALUES (1, N'd16fa1f3-e9ab-438f-9dff-3b6f8613c5c7', N'f1b48774-2c8b-45ee-ba0d-bd6420455e9e', N'guillaume.rizzo.lomet@gmail.com', 1, 1, NULL, CAST(N'2025-06-25T15:11:30.9966667+00:00' AS DateTimeOffset), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[USER_EMAILS] ([email_id], [email_uuid], [user_uuid], [email_address], [is_primary], [is_validated], [validation_token], [created_at], [validated_at], [new_email_address], [updated_at], [last_validation_email_sent_at]) VALUES (2, N'8031f63c-9d2c-4d18-904b-efcd3fc55be3', N'c8c52f6d-6c88-4da1-ab9d-00354f695d98', N'string@gmail.com', 1, 0, NULL, CAST(N'2025-06-25T15:11:30.9966667+00:00' AS DateTimeOffset), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[USER_EMAILS] ([email_id], [email_uuid], [user_uuid], [email_address], [is_primary], [is_validated], [validation_token], [created_at], [validated_at], [new_email_address], [updated_at], [last_validation_email_sent_at]) VALUES (3, N'61ffddf6-dd6f-472d-9a79-8ed1a04b6ded', N'2d295f77-ffb7-4667-93de-6fe4cd9df56a', N'test@test.fr', 1, 0, NULL, CAST(N'2025-06-25T15:11:30.9966667+00:00' AS DateTimeOffset), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[USER_EMAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_PASSWORDS] ON 
GO
INSERT [dbo].[USER_PASSWORDS] ([password_id], [password_uuid], [user_uuid], [hashed_password], [must_change], [last_changed_at], [last_password_reset_request_at], [reset_token], [reset_expires_at]) VALUES (1, N'11e00261-1d7b-4c8d-b854-fdc78bb04524', N'f1b48774-2c8b-45ee-ba0d-bd6420455e9e', N'$2a$11$/6knS6e4v8CwuLGblcOiYe8Ad7IOlj7xkG7Ot12WYKXNGgdhDprFS', 0, CAST(N'2025-06-26T08:09:48.6003969+00:00' AS DateTimeOffset), CAST(N'2025-06-26T08:08:39.3723541+00:00' AS DateTimeOffset), NULL, NULL)
GO
INSERT [dbo].[USER_PASSWORDS] ([password_id], [password_uuid], [user_uuid], [hashed_password], [must_change], [last_changed_at], [last_password_reset_request_at], [reset_token], [reset_expires_at]) VALUES (2, N'a34b3696-1ae3-48fb-8b95-2769ea1c5af4', N'c8c52f6d-6c88-4da1-ab9d-00354f695d98', N'$2a$11$8HbPP1YpMEsQL92aMSW24eXaAHBGZz2yJDEHhfGNMGs42fNt5C13e', 0, CAST(N'2025-05-15T11:27:49.2937843+02:00' AS DateTimeOffset), NULL, NULL, NULL)
GO
INSERT [dbo].[USER_PASSWORDS] ([password_id], [password_uuid], [user_uuid], [hashed_password], [must_change], [last_changed_at], [last_password_reset_request_at], [reset_token], [reset_expires_at]) VALUES (3, N'1cd06ec4-817b-4ea9-8810-9e96f314aa27', N'2d295f77-ffb7-4667-93de-6fe4cd9df56a', N'$2a$11$cIm6CGQmN0W8IUJ9zooGVeFDSxOpQf9hXNwqx4xoPuSiVg//6zx1O', 0, CAST(N'2025-05-15T11:30:05.7246526+02:00' AS DateTimeOffset), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[USER_PASSWORDS] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_RIGHTS] ON 
GO
INSERT [dbo].[USER_RIGHTS] ([user_right_id], [user_right_uuid], [user_right_name]) VALUES (1, N'327efc4f-d6ee-4e87-8a40-5d5811c6a4b3', N'User')
GO
INSERT [dbo].[USER_RIGHTS] ([user_right_id], [user_right_uuid], [user_right_name]) VALUES (2, N'868b663f-9934-418e-b88b-884dc5dd2170', N'Admin')
GO
INSERT [dbo].[USER_RIGHTS] ([user_right_id], [user_right_uuid], [user_right_name]) VALUES (3, N'53de81c6-649a-41c4-8ee9-5f0f7ff4d240', N'Super Admin')
GO
SET IDENTITY_INSERT [dbo].[USER_RIGHTS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 
GO
INSERT [dbo].[USERS] ([user_id], [user_uuid], [user_firstname], [user_lastname], [user_login], [user_birthDate], [is_deleted], [user_right_uuid], [gender_uuid], [created_at], [updated_at], [last_password_reset_request_at]) VALUES (2, N'f1b48774-2c8b-45ee-ba0d-bd6420455e9e', N'First', N'Last', N'log', CAST(N'2000-05-15' AS Date), 0, N'53de81c6-649a-41c4-8ee9-5f0f7ff4d240', N'3a7e233e-6046-4998-b115-74c265f6e6e9', CAST(N'2025-05-15T11:20:51.1237225+02:00' AS DateTimeOffset), CAST(N'2025-05-15T11:20:51.1237225+02:00' AS DateTimeOffset), NULL)
GO
INSERT [dbo].[USERS] ([user_id], [user_uuid], [user_firstname], [user_lastname], [user_login], [user_birthDate], [is_deleted], [user_right_uuid], [gender_uuid], [created_at], [updated_at], [last_password_reset_request_at]) VALUES (9, N'c8c52f6d-6c88-4da1-ab9d-00354f695d98', N'string', N'string', N'string', CAST(N'2000-05-15' AS Date), 0, N'868b663f-9934-418e-b88b-884dc5dd2170', N'3a7e233e-6046-4998-b115-74c265f6e6e9', CAST(N'2025-05-15T11:27:49.2937843+02:00' AS DateTimeOffset), CAST(N'2025-05-15T11:27:49.2937843+02:00' AS DateTimeOffset), NULL)
GO
INSERT [dbo].[USERS] ([user_id], [user_uuid], [user_firstname], [user_lastname], [user_login], [user_birthDate], [is_deleted], [user_right_uuid], [gender_uuid], [created_at], [updated_at], [last_password_reset_request_at]) VALUES (12, N'2d295f77-ffb7-4667-93de-6fe4cd9df56a', N'test', N'test', N'test', CAST(N'2020-02-12' AS Date), 0, N'327efc4f-d6ee-4e87-8a40-5d5811c6a4b3', N'b31cf293-2ff3-49a3-b6ae-c0271d6eebcb', CAST(N'2025-05-15T11:30:05.7246526+02:00' AS DateTimeOffset), CAST(N'2025-05-15T11:30:05.7246526+02:00' AS DateTimeOffset), NULL)
GO
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACTIVITY__357D4CF9EF63BEBB]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[ACTIVITY_TYPES] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ACTIVITY__7EF01810A22BAA7A]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[ACTIVITY_TYPES] ADD UNIQUE NONCLUSTERED 
(
	[activity_type_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__AUDIT_TR__A65B6CD09E30948E]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[AUDIT_TRAIL] ADD UNIQUE NONCLUSTERED 
(
	[audit_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AUTHOR__A1F124D0EC741F33]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[AUTHOR] ADD UNIQUE NONCLUSTERED 
(
	[author_full_name] ASC,
	[author_birth_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__AUTHOR__B5CD0316F16E7C1F]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[AUTHOR] ADD UNIQUE NONCLUSTERED 
(
	[author_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_AUTHOR_TRANSLATION_AUTHOR_LANG]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[AUTHOR_TRANSLATIONS] ADD  CONSTRAINT [UQ_AUTHOR_TRANSLATION_AUTHOR_LANG] UNIQUE NONCLUSTERED 
(
	[author_uuid] ASC,
	[language_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BANNED_W__839740540FFAEFDD]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[BANNED_WORDS] ADD UNIQUE NONCLUSTERED 
(
	[word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BOOK__AA8FB793DB69C7CB]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[BOOK] ADD UNIQUE NONCLUSTERED 
(
	[book_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BOOK_book_isbn_not_null]    Script Date: 10/07/2026 10:59:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_BOOK_book_isbn_not_null] ON [dbo].[BOOK]
(
	[book_isbn] ASC
)
WHERE ([book_isbn] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BOOK_IMA__3E43434813693BE3]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[BOOK_IMAGE_TYPE] ADD UNIQUE NONCLUSTERED 
(
	[image_type_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BOOK_IMA__85A26DE847486D89]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[BOOK_IMAGES] ADD UNIQUE NONCLUSTERED 
(
	[image_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BOOK_NOT__E3F87F4D102891BE]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[BOOK_NOTES] ADD UNIQUE NONCLUSTERED 
(
	[note_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BOOK_TRA__A3AFF065AADA48D6]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[BOOK_TRANSLATIONS] ADD UNIQUE NONCLUSTERED 
(
	[book_translation_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BOOK_TRA__BEF8F297AA807F10]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[BOOK_TRANSLATIONS] ADD UNIQUE NONCLUSTERED 
(
	[book_uuid] ASC,
	[language_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BOOK_VER__7240DF08882DC32E]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[BOOK_VERSION_HISTORY] ADD UNIQUE NONCLUSTERED 
(
	[version_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CATEGORI__4257ADA439886032]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[CATEGORIES] ADD UNIQUE NONCLUSTERED 
(
	[category_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CATEGORI__5189E255F7D33FF3]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[CATEGORIES] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CATEGORY_TRANSLATION_CAT_LANG]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[CATEGORY_TRANSLATIONS] ADD  CONSTRAINT [UQ_CATEGORY_TRANSLATION_CAT_LANG] UNIQUE NONCLUSTERED 
(
	[category_uuid] ASC,
	[language_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__COLORS__543625985ED772E5]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[COLORS] ADD UNIQUE NONCLUSTERED 
(
	[color_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__GENDERS__8D9124A0A24F5DCA]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[GENDERS] ADD UNIQUE NONCLUSTERED 
(
	[gender_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LANGUAGE__153DD4A6953EA234]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[LANGUAGES] ADD UNIQUE NONCLUSTERED 
(
	[iso_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__LANGUAGE__477450419696987E]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[LANGUAGES] ADD UNIQUE NONCLUSTERED 
(
	[language_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MODERATI__99EB959F7A9C9ACA]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[MODERATION_LOGS] ADD UNIQUE NONCLUSTERED 
(
	[moderation_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__NOTIFICA__AF8FFDCC5495BDAE]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[NOTIFICATIONS] ADD UNIQUE NONCLUSTERED 
(
	[notification_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ORDER_HI__3DE398660EACEC5B]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[ORDER_HISTORY] ADD UNIQUE NONCLUSTERED 
(
	[order_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PREFEREN__026ADC377CF20FFA]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[PREFERENCES] ADD UNIQUE NONCLUSTERED 
(
	[preference_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PREFEREN__37BE7BB6260327AD]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[PREFERENCES] ADD UNIQUE NONCLUSTERED 
(
	[user_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PUBLISHE__F6E28EB939B4F790]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[PUBLISHER] ADD UNIQUE NONCLUSTERED 
(
	[publisher_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PUBLISHER_TRANSLATION_PUB_LANG]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[PUBLISHER_TRANSLATIONS] ADD  CONSTRAINT [UQ_PUBLISHER_TRANSLATION_PUB_LANG] UNIQUE NONCLUSTERED 
(
	[publisher_uuid] ASC,
	[language_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__READ_LIS__67AE94D0BD796F09]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[READ_LISTS] ADD UNIQUE NONCLUSTERED 
(
	[readList_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SERIES__93F3FD60530CD707]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[SERIES] ADD UNIQUE NONCLUSTERED 
(
	[series_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SHOPPING__392DA560D261BA69]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[SHOPPING_BASKETS] ADD UNIQUE NONCLUSTERED 
(
	[basket_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__STATE_ST__357D4CF97AED6E29]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[STATE_STATUS] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__STATE_ST__D70F46C3114A85F7]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[STATE_STATUS] ADD UNIQUE NONCLUSTERED 
(
	[state_status_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TAGS__51EE2D564F39F24E]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[TAGS] ADD UNIQUE NONCLUSTERED 
(
	[tag_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__THEMES__0444B772B0A708E5]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[THEMES] ADD UNIQUE NONCLUSTERED 
(
	[theme_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__THEMES__3D6866353B03D7D9]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[THEMES] ADD UNIQUE NONCLUSTERED 
(
	[theme_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USER_BOO__8BE4EB3DB059654E]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[USER_BOOK_ACTIVITY] ADD UNIQUE NONCLUSTERED 
(
	[activity_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USER_CON__CEDB16623FF5D71E]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[USER_CONNECTIONS] ADD UNIQUE NONCLUSTERED 
(
	[connection_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER_EMAIL_ADDRESS]    Script Date: 10/07/2026 10:59:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__USER_EMAIL_ADDRESS] ON [dbo].[USER_EMAILS]
(
	[email_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USER_EMAIL_UUID]    Script Date: 10/07/2026 10:59:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__USER_EMAIL_UUID] ON [dbo].[USER_EMAILS]
(
	[email_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USER_PASSWORD_UUID]    Script Date: 10/07/2026 10:59:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__USER_PASSWORD_UUID] ON [dbo].[USER_PASSWORDS]
(
	[password_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USER_RIG__45565B2CE70DC2EF]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[USER_RIGHTS] ADD UNIQUE NONCLUSTERED 
(
	[user_right_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER_RIG__54B7341DDEB6DBB7]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[USER_RIGHTS] ADD UNIQUE NONCLUSTERED 
(
	[user_right_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USER_ROL__EF0FC8D61098FA34]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[USER_ROLE_HISTORY] ADD UNIQUE NONCLUSTERED 
(
	[history_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USERS__37BE7BB64212B006]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[user_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__9EA1B5AF7A9CE0EF]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[user_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__WISHLIST__0D1680CFCAB0AB39]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[WISHLIST_BOOKS] ADD UNIQUE NONCLUSTERED 
(
	[user_uuid] ASC,
	[book_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__WISHLIST__6EAF50C372F32DCC]    Script Date: 10/07/2026 10:59:11 ******/
ALTER TABLE [dbo].[WISHLIST_BOOKS] ADD UNIQUE NONCLUSTERED 
(
	[wishlist_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUTHOR_TRANSLATIONS] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[AUTHOR_TRANSLATIONS] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[CATEGORY_TRANSLATIONS] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[CATEGORY_TRANSLATIONS] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[PUBLISHER_TRANSLATIONS] ADD  DEFAULT (newid()) FOR [publisher_translation_uuid]
GO
ALTER TABLE [dbo].[PUBLISHER_TRANSLATIONS] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[PUBLISHER_TRANSLATIONS] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[USER_BOOK_STATE] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[USER_BOOK_STATE] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[USER_EMAILS] ADD  DEFAULT (newid()) FOR [email_uuid]
GO
ALTER TABLE [dbo].[USER_EMAILS] ADD  DEFAULT ((1)) FOR [is_primary]
GO
ALTER TABLE [dbo].[USER_EMAILS] ADD  DEFAULT ((0)) FOR [is_validated]
GO
ALTER TABLE [dbo].[USER_EMAILS] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[USER_PASSWORDS] ADD  DEFAULT (newid()) FOR [password_uuid]
GO
ALTER TABLE [dbo].[USER_PASSWORDS] ADD  DEFAULT ((0)) FOR [must_change]
GO
ALTER TABLE [dbo].[USER_PASSWORDS] ADD  DEFAULT (sysdatetimeoffset()) FOR [last_changed_at]
GO
ALTER TABLE [dbo].[AUDIT_TRAIL]  WITH CHECK ADD  CONSTRAINT [FK_AUDIT_TRAIL_USER] FOREIGN KEY([action_user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[AUDIT_TRAIL] CHECK CONSTRAINT [FK_AUDIT_TRAIL_USER]
GO
ALTER TABLE [dbo].[AUTHOR_DISTINCTIONS]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_DISTINCTIONS_AUTHOR] FOREIGN KEY([author_uuid])
REFERENCES [dbo].[AUTHOR] ([author_uuid])
GO
ALTER TABLE [dbo].[AUTHOR_DISTINCTIONS] CHECK CONSTRAINT [FK_AUTHOR_DISTINCTIONS_AUTHOR]
GO
ALTER TABLE [dbo].[AUTHOR_LANGUAGES]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_LANGUAGES_AUTHOR] FOREIGN KEY([author_uuid])
REFERENCES [dbo].[AUTHOR] ([author_uuid])
GO
ALTER TABLE [dbo].[AUTHOR_LANGUAGES] CHECK CONSTRAINT [FK_AUTHOR_LANGUAGES_AUTHOR]
GO
ALTER TABLE [dbo].[AUTHOR_LANGUAGES]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_LANGUAGES_LANGUAGE] FOREIGN KEY([language_uuid])
REFERENCES [dbo].[LANGUAGES] ([language_uuid])
GO
ALTER TABLE [dbo].[AUTHOR_LANGUAGES] CHECK CONSTRAINT [FK_AUTHOR_LANGUAGES_LANGUAGE]
GO
ALTER TABLE [dbo].[AUTHOR_TRANSLATIONS]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_TRANSLATION_AUTHOR] FOREIGN KEY([author_uuid])
REFERENCES [dbo].[AUTHOR] ([author_uuid])
GO
ALTER TABLE [dbo].[AUTHOR_TRANSLATIONS] CHECK CONSTRAINT [FK_AUTHOR_TRANSLATION_AUTHOR]
GO
ALTER TABLE [dbo].[AUTHOR_TRANSLATIONS]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_TRANSLATION_LANG] FOREIGN KEY([language_uuid])
REFERENCES [dbo].[LANGUAGES] ([language_uuid])
GO
ALTER TABLE [dbo].[AUTHOR_TRANSLATIONS] CHECK CONSTRAINT [FK_AUTHOR_TRANSLATION_LANG]
GO
ALTER TABLE [dbo].[BANNED_WORDS]  WITH CHECK ADD  CONSTRAINT [FK_BANNED_WORDS_LANGUAGE] FOREIGN KEY([language_uuid])
REFERENCES [dbo].[LANGUAGES] ([language_uuid])
GO
ALTER TABLE [dbo].[BANNED_WORDS] CHECK CONSTRAINT [FK_BANNED_WORDS_LANGUAGE]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_SERIES] FOREIGN KEY([book_series_uuid])
REFERENCES [dbo].[SERIES] ([series_uuid])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_SERIES]
GO
ALTER TABLE [dbo].[BOOK_AUTHORS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_AUTHORS_AUTHOR] FOREIGN KEY([author_uuid])
REFERENCES [dbo].[AUTHOR] ([author_uuid])
GO
ALTER TABLE [dbo].[BOOK_AUTHORS] CHECK CONSTRAINT [FK_BOOK_AUTHORS_AUTHOR]
GO
ALTER TABLE [dbo].[BOOK_AUTHORS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_AUTHORS_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[BOOK_AUTHORS] CHECK CONSTRAINT [FK_BOOK_AUTHORS_BOOK]
GO
ALTER TABLE [dbo].[BOOK_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_CATEGORIES_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[BOOK_CATEGORIES] CHECK CONSTRAINT [FK_BOOK_CATEGORIES_BOOK]
GO
ALTER TABLE [dbo].[BOOK_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_CATEGORIES_CATEGORY] FOREIGN KEY([category_uuid])
REFERENCES [dbo].[CATEGORIES] ([category_uuid])
GO
ALTER TABLE [dbo].[BOOK_CATEGORIES] CHECK CONSTRAINT [FK_BOOK_CATEGORIES_CATEGORY]
GO
ALTER TABLE [dbo].[BOOK_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_IMAGES_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[BOOK_IMAGES] CHECK CONSTRAINT [FK_BOOK_IMAGES_BOOK]
GO
ALTER TABLE [dbo].[BOOK_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_IMAGES_TYPE] FOREIGN KEY([image_type_uuid])
REFERENCES [dbo].[BOOK_IMAGE_TYPE] ([image_type_uuid])
GO
ALTER TABLE [dbo].[BOOK_IMAGES] CHECK CONSTRAINT [FK_BOOK_IMAGES_TYPE]
GO
ALTER TABLE [dbo].[BOOK_LANGUAGES]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_LANGUAGES_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[BOOK_LANGUAGES] CHECK CONSTRAINT [FK_BOOK_LANGUAGES_BOOK]
GO
ALTER TABLE [dbo].[BOOK_LANGUAGES]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_LANGUAGES_LANGUAGE] FOREIGN KEY([language_uuid])
REFERENCES [dbo].[LANGUAGES] ([language_uuid])
GO
ALTER TABLE [dbo].[BOOK_LANGUAGES] CHECK CONSTRAINT [FK_BOOK_LANGUAGES_LANGUAGE]
GO
ALTER TABLE [dbo].[BOOK_NOTES]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_NOTES_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[BOOK_NOTES] CHECK CONSTRAINT [FK_BOOK_NOTES_BOOK]
GO
ALTER TABLE [dbo].[BOOK_NOTES]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_NOTES_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[BOOK_NOTES] CHECK CONSTRAINT [FK_BOOK_NOTES_USER]
GO
ALTER TABLE [dbo].[BOOK_PUBLISHERS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PUBLISHERS_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[BOOK_PUBLISHERS] CHECK CONSTRAINT [FK_BOOK_PUBLISHERS_BOOK]
GO
ALTER TABLE [dbo].[BOOK_PUBLISHERS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PUBLISHERS_PUBLISHER] FOREIGN KEY([publisher_uuid])
REFERENCES [dbo].[PUBLISHER] ([publisher_uuid])
GO
ALTER TABLE [dbo].[BOOK_PUBLISHERS] CHECK CONSTRAINT [FK_BOOK_PUBLISHERS_PUBLISHER]
GO
ALTER TABLE [dbo].[BOOK_SERIES_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_SERIES_ORDER_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[BOOK_SERIES_ORDER] CHECK CONSTRAINT [FK_BOOK_SERIES_ORDER_BOOK]
GO
ALTER TABLE [dbo].[BOOK_SERIES_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_SERIES_ORDER_SERIES] FOREIGN KEY([series_uuid])
REFERENCES [dbo].[SERIES] ([series_uuid])
GO
ALTER TABLE [dbo].[BOOK_SERIES_ORDER] CHECK CONSTRAINT [FK_BOOK_SERIES_ORDER_SERIES]
GO
ALTER TABLE [dbo].[BOOK_TAGS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_TAGS_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[BOOK_TAGS] CHECK CONSTRAINT [FK_BOOK_TAGS_BOOK]
GO
ALTER TABLE [dbo].[BOOK_TAGS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_TAGS_TAG] FOREIGN KEY([tag_uuid])
REFERENCES [dbo].[TAGS] ([tag_uuid])
GO
ALTER TABLE [dbo].[BOOK_TAGS] CHECK CONSTRAINT [FK_BOOK_TAGS_TAG]
GO
ALTER TABLE [dbo].[BOOK_TRANSLATIONS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_TRANSLATIONS_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[BOOK_TRANSLATIONS] CHECK CONSTRAINT [FK_BOOK_TRANSLATIONS_BOOK]
GO
ALTER TABLE [dbo].[BOOK_TRANSLATIONS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_TRANSLATIONS_LANGUAGE] FOREIGN KEY([language_uuid])
REFERENCES [dbo].[LANGUAGES] ([language_uuid])
GO
ALTER TABLE [dbo].[BOOK_TRANSLATIONS] CHECK CONSTRAINT [FK_BOOK_TRANSLATIONS_LANGUAGE]
GO
ALTER TABLE [dbo].[BOOK_VERSION_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_VERSION_HISTORY_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[BOOK_VERSION_HISTORY] CHECK CONSTRAINT [FK_BOOK_VERSION_HISTORY_BOOK]
GO
ALTER TABLE [dbo].[BOOK_VERSION_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_VERSION_HISTORY_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[BOOK_VERSION_HISTORY] CHECK CONSTRAINT [FK_BOOK_VERSION_HISTORY_USER]
GO
ALTER TABLE [dbo].[CATEGORY_TRANSLATIONS]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORY_TRANSLATION_CAT] FOREIGN KEY([category_uuid])
REFERENCES [dbo].[CATEGORIES] ([category_uuid])
GO
ALTER TABLE [dbo].[CATEGORY_TRANSLATIONS] CHECK CONSTRAINT [FK_CATEGORY_TRANSLATION_CAT]
GO
ALTER TABLE [dbo].[CATEGORY_TRANSLATIONS]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORY_TRANSLATION_LANG] FOREIGN KEY([language_uuid])
REFERENCES [dbo].[LANGUAGES] ([language_uuid])
GO
ALTER TABLE [dbo].[CATEGORY_TRANSLATIONS] CHECK CONSTRAINT [FK_CATEGORY_TRANSLATION_LANG]
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD  CONSTRAINT [FK_NOTIFICATIONS_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[NOTIFICATIONS] CHECK CONSTRAINT [FK_NOTIFICATIONS_USER]
GO
ALTER TABLE [dbo].[ORDER_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_HISTORY_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[ORDER_HISTORY] CHECK CONSTRAINT [FK_ORDER_HISTORY_USER]
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEMS_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[ORDER_ITEMS] CHECK CONSTRAINT [FK_ORDER_ITEMS_BOOK]
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEMS_ORDER] FOREIGN KEY([order_uuid])
REFERENCES [dbo].[ORDER_HISTORY] ([order_uuid])
GO
ALTER TABLE [dbo].[ORDER_ITEMS] CHECK CONSTRAINT [FK_ORDER_ITEMS_ORDER]
GO
ALTER TABLE [dbo].[PREFERENCES]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCES_LANGUAGE] FOREIGN KEY([language_uuid])
REFERENCES [dbo].[LANGUAGES] ([language_uuid])
GO
ALTER TABLE [dbo].[PREFERENCES] CHECK CONSTRAINT [FK_PREFERENCES_LANGUAGE]
GO
ALTER TABLE [dbo].[PREFERENCES]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCES_PRIMARY_COLOR_UUID] FOREIGN KEY([primary_color_uuid])
REFERENCES [dbo].[COLORS] ([color_uuid])
GO
ALTER TABLE [dbo].[PREFERENCES] CHECK CONSTRAINT [FK_PREFERENCES_PRIMARY_COLOR_UUID]
GO
ALTER TABLE [dbo].[PREFERENCES]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCES_SECONDARY_COLOR_UUID] FOREIGN KEY([secondary_color_uuid])
REFERENCES [dbo].[COLORS] ([color_uuid])
GO
ALTER TABLE [dbo].[PREFERENCES] CHECK CONSTRAINT [FK_PREFERENCES_SECONDARY_COLOR_UUID]
GO
ALTER TABLE [dbo].[PREFERENCES]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCES_THEME] FOREIGN KEY([theme_uuid])
REFERENCES [dbo].[THEMES] ([theme_uuid])
GO
ALTER TABLE [dbo].[PREFERENCES] CHECK CONSTRAINT [FK_PREFERENCES_THEME]
GO
ALTER TABLE [dbo].[PREFERENCES]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCES_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[PREFERENCES] CHECK CONSTRAINT [FK_PREFERENCES_USER]
GO
ALTER TABLE [dbo].[PUBLISHER_TRANSLATIONS]  WITH CHECK ADD  CONSTRAINT [FK_PUBLISHER_TRANSLATION_LANG] FOREIGN KEY([language_uuid])
REFERENCES [dbo].[LANGUAGES] ([language_uuid])
GO
ALTER TABLE [dbo].[PUBLISHER_TRANSLATIONS] CHECK CONSTRAINT [FK_PUBLISHER_TRANSLATION_LANG]
GO
ALTER TABLE [dbo].[PUBLISHER_TRANSLATIONS]  WITH CHECK ADD  CONSTRAINT [FK_PUBLISHER_TRANSLATION_PUB] FOREIGN KEY([publisher_uuid])
REFERENCES [dbo].[PUBLISHER] ([publisher_uuid])
GO
ALTER TABLE [dbo].[PUBLISHER_TRANSLATIONS] CHECK CONSTRAINT [FK_PUBLISHER_TRANSLATION_PUB]
GO
ALTER TABLE [dbo].[READ_LIST_BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_READ_LIST_BOOKS_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[READ_LIST_BOOKS] CHECK CONSTRAINT [FK_READ_LIST_BOOKS_BOOK]
GO
ALTER TABLE [dbo].[READ_LIST_BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_READ_LIST_BOOKS_READ_LIST] FOREIGN KEY([readList_uuid])
REFERENCES [dbo].[READ_LISTS] ([readList_uuid])
GO
ALTER TABLE [dbo].[READ_LIST_BOOKS] CHECK CONSTRAINT [FK_READ_LIST_BOOKS_READ_LIST]
GO
ALTER TABLE [dbo].[READ_LISTS]  WITH CHECK ADD  CONSTRAINT [FK_READ_LISTS_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[READ_LISTS] CHECK CONSTRAINT [FK_READ_LISTS_USER]
GO
ALTER TABLE [dbo].[SHOPPING_BASKET_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_SHOPPING_BASKET_ITEMS_BASKET] FOREIGN KEY([basket_uuid])
REFERENCES [dbo].[SHOPPING_BASKETS] ([basket_uuid])
GO
ALTER TABLE [dbo].[SHOPPING_BASKET_ITEMS] CHECK CONSTRAINT [FK_SHOPPING_BASKET_ITEMS_BASKET]
GO
ALTER TABLE [dbo].[SHOPPING_BASKET_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_SHOPPING_BASKET_ITEMS_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[SHOPPING_BASKET_ITEMS] CHECK CONSTRAINT [FK_SHOPPING_BASKET_ITEMS_BOOK]
GO
ALTER TABLE [dbo].[SHOPPING_BASKETS]  WITH CHECK ADD  CONSTRAINT [FK_SHOPPING_BASKETS_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[SHOPPING_BASKETS] CHECK CONSTRAINT [FK_SHOPPING_BASKETS_USER]
GO
ALTER TABLE [dbo].[USER_BOOK_ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_USER_BOOK_ACTIVITY_ACTIVITY_TYPE] FOREIGN KEY([activity_type_uuid])
REFERENCES [dbo].[ACTIVITY_TYPES] ([activity_type_uuid])
GO
ALTER TABLE [dbo].[USER_BOOK_ACTIVITY] CHECK CONSTRAINT [FK_USER_BOOK_ACTIVITY_ACTIVITY_TYPE]
GO
ALTER TABLE [dbo].[USER_BOOK_ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_USER_BOOK_ACTIVITY_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[USER_BOOK_ACTIVITY] CHECK CONSTRAINT [FK_USER_BOOK_ACTIVITY_BOOK]
GO
ALTER TABLE [dbo].[USER_BOOK_ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_USER_BOOK_ACTIVITY_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[USER_BOOK_ACTIVITY] CHECK CONSTRAINT [FK_USER_BOOK_ACTIVITY_USER]
GO
ALTER TABLE [dbo].[USER_BOOK_STATE]  WITH CHECK ADD  CONSTRAINT [FK_USER_BOOK_STATE_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[USER_BOOK_STATE] CHECK CONSTRAINT [FK_USER_BOOK_STATE_BOOK]
GO
ALTER TABLE [dbo].[USER_BOOK_STATE]  WITH CHECK ADD  CONSTRAINT [FK_USER_BOOK_STATE_STATE_STATUS] FOREIGN KEY([state_status_uuid])
REFERENCES [dbo].[STATE_STATUS] ([state_status_uuid])
GO
ALTER TABLE [dbo].[USER_BOOK_STATE] CHECK CONSTRAINT [FK_USER_BOOK_STATE_STATE_STATUS]
GO
ALTER TABLE [dbo].[USER_BOOK_STATE]  WITH CHECK ADD  CONSTRAINT [FK_USER_BOOK_STATE_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[USER_BOOK_STATE] CHECK CONSTRAINT [FK_USER_BOOK_STATE_USER]
GO
ALTER TABLE [dbo].[USER_CONNECTIONS]  WITH CHECK ADD  CONSTRAINT [FK_USER_CONNECTIONS] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[USER_CONNECTIONS] CHECK CONSTRAINT [FK_USER_CONNECTIONS]
GO
ALTER TABLE [dbo].[USER_EMAILS]  WITH CHECK ADD  CONSTRAINT [FK_USER_EMAIL_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_EMAILS] CHECK CONSTRAINT [FK_USER_EMAIL_USER]
GO
ALTER TABLE [dbo].[USER_PASSWORDS]  WITH CHECK ADD  CONSTRAINT [FK_USER_PASSWORD_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_PASSWORDS] CHECK CONSTRAINT [FK_USER_PASSWORD_USER]
GO
ALTER TABLE [dbo].[USER_ROLE_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE_HISTORY_USER_MODIFIED_BY] FOREIGN KEY([modified_by_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[USER_ROLE_HISTORY] CHECK CONSTRAINT [FK_USER_ROLE_HISTORY_USER_MODIFIED_BY]
GO
ALTER TABLE [dbo].[USER_ROLE_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE_HISTORY_USER_RIGHT_NEW] FOREIGN KEY([new_right_uuid])
REFERENCES [dbo].[USER_RIGHTS] ([user_right_uuid])
GO
ALTER TABLE [dbo].[USER_ROLE_HISTORY] CHECK CONSTRAINT [FK_USER_ROLE_HISTORY_USER_RIGHT_NEW]
GO
ALTER TABLE [dbo].[USER_ROLE_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE_HISTORY_USER_RIGHT_PREVIOUS] FOREIGN KEY([previous_right_uuid])
REFERENCES [dbo].[USER_RIGHTS] ([user_right_uuid])
GO
ALTER TABLE [dbo].[USER_ROLE_HISTORY] CHECK CONSTRAINT [FK_USER_ROLE_HISTORY_USER_RIGHT_PREVIOUS]
GO
ALTER TABLE [dbo].[USER_ROLE_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE_HISTORY_USER_TARGET] FOREIGN KEY([target_user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[USER_ROLE_HISTORY] CHECK CONSTRAINT [FK_USER_ROLE_HISTORY_USER_TARGET]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_GENDERS] FOREIGN KEY([gender_uuid])
REFERENCES [dbo].[GENDERS] ([gender_uuid])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_GENDERS]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USER_RIGHTS] FOREIGN KEY([user_right_uuid])
REFERENCES [dbo].[USER_RIGHTS] ([user_right_uuid])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USER_RIGHTS]
GO
ALTER TABLE [dbo].[WISHLIST_BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_WISHLIST_BOOKS_BOOK] FOREIGN KEY([book_uuid])
REFERENCES [dbo].[BOOK] ([book_uuid])
GO
ALTER TABLE [dbo].[WISHLIST_BOOKS] CHECK CONSTRAINT [FK_WISHLIST_BOOKS_BOOK]
GO
ALTER TABLE [dbo].[WISHLIST_BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_WISHLIST_BOOKS_USER] FOREIGN KEY([user_uuid])
REFERENCES [dbo].[USERS] ([user_uuid])
GO
ALTER TABLE [dbo].[WISHLIST_BOOKS] CHECK CONSTRAINT [FK_WISHLIST_BOOKS_USER]
GO
ALTER TABLE [dbo].[AUDIT_TRAIL]  WITH CHECK ADD CHECK  (([action_type]='DELETE' OR [action_type]='UPDATE' OR [action_type]='CREATE'))
GO
ALTER TABLE [dbo].[BOOK_NOTES]  WITH CHECK ADD CHECK  (([note_value]>=(0) AND [note_value]<=(5)))
GO
ALTER TABLE [dbo].[BOOK_SERIES_ORDER]  WITH CHECK ADD CHECK  (([series_order]>(0)))
GO
ALTER TABLE [dbo].[ORDER_HISTORY]  WITH CHECK ADD CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[SHOPPING_BASKET_ITEMS]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[SHOPPING_BASKET_ITEMS]  WITH CHECK ADD CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[USER_ROLE_HISTORY]  WITH CHECK ADD CHECK  (([previous_right_uuid]<>[new_right_uuid]))
GO