<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="form-title">Ajout d'une Catégorie</h2>
    </div>
    <form [formGroup]="bookCategoForm" (ngSubmit)="onSubmit()" class="col s12 form-container">
      <div class="row">
        <div class="s12 m6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nom :</mat-label>
            <input matInput type="text" id="name" formControlName="bookCategoName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="s12 m6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Description :</mat-label>
            <textarea matInput id="description" formControlName="bookCategoDescription" class="materialize-textarea"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="s12 m6">
          <button mat-raised-button color="primary" type="submit" [disabled]="!bookCategoForm.valid">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
