.card-image {
  margin-left: 10rem;
  margin-top: 6rem;
}

div {
  display: flex;
}

image {
  max-height: 400px;
}

.infos {
  display: flex;
  margin-left: 5rem;
  text-align: center;
}

.title {
  flex-direction: column;
  text-align: start;
}
