<div *ngIf="publisher" class="book-container">
  <div class="book-info">
    <div class="book-image">
      <img [src]="book.bookImageLink" [alt]="book.bookTitle">
    </div>
    <div class="book-details">
      <h1>{{ book.bookTitle }}</h1>
      <p class="author">Auteur: <a (click)="goToAuthor(book.authorId)"> {{author.authorName}} </a></p>
      <p class="publisher">Éditeur: <a (click)="goToPublisher(book.publisherId)"> {{publisher.publisherName}} </a></p>
       <!-- <div>
              <app-rating (rated)="onRated($event)" (rated)="book.bookAverageRating"></app-rating>
              <p> {{book.bookAverageRating}} / 5 </p>
            </div>
            <p>Nombre de vote: {{book.bookRatingCount}} </p>
          </div> -->
      <p class="description">{{book.bookDescription}}</p>
      <div class="categories">
        <p>Catégories:</p>
        <a *ngFor="let categorie of book.categories" (click)="goToCatego(categorie.bookCategoId)"> {{categorie.bookCategoName}} </a>
      </div>
      <p class="page-count">{{book.bookPageCount}} pages</p>
      <p class="publish-date">Publié le: {{book.bookPublishDate | date:"dd MMM YYYY" }}</p>
      <div class="edit-button" *ngIf="right">
        <a (click)="goToEditBook(book)">Edit</a>
      </div>
    </div>
  </div>
</div>
